<h3 class="text-center m-4">Dashboard</h3>

{{#if blogPosts.length}}
{{#each blogPosts as |blogPost|}}
<div class="container blog-post">
    <div class="card text-bg-dark mb-3 m-2" style="max-width: 80%">
        <h5 class="card-header text-bg-dark mb-3"><a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a>
        </h5>

        <div class="card-body text-bg-light mb-3">
            <p class="card-text">{{blogPost.content}}</p>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blogPost.id}}">DELETE</button>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
{{/if}}

<div class="container blog-form">
    <form class="form new-blog-form"></form>
    <div class="card form-group text-bg-dark mb-3 m-2" style="max-width: 90%">
        <h5 class="card-header text-bg-dark mb-3">Create a New Blog Post:</h5>

        <div class="card-body text-bg-light mb-4">
            <div class="form-group m-2">
                <label class="form-label" for="blog-title">blog title:</label>
                <input class="form-input col-8" type="text" id="blog-title" name="blog-title" />
            </div>
            <div class="form-group m-2">
                <label class="form-label" for="blog-content">content:</label>
                <textarea class="form-input col-8" id="blog-content" name="blog-content"></textarea>
            </div>
            <div class="form-group m-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
    </form>
</div>

<script src="./js/dashboard.js"></script>